.socialMedia{
    text-decoration: none;
    color: azure;
}

body{
    margin: 0;
}

.nav-link{
    font-size: 18px;
}

.tituloFooter
{
    font-size: 135%;
    padding-left: 25px; 
    color: white; 
    padding-top:3%; 
    padding-left: 10%;
}

.tituloUbicacion
{
    font-family: Agbalumo; 
    padding: 2%; 
    text-align: center; 
    color: white;
}

.tituloNombre, .tituloCorreo, .tituloTelefono, .tituloMensaje
{
    font-family: Agbalumo;
}

.tituloContactoConNosotros
{
    font-size: 135%; 
    color: white; 
    font-family: Bebas Neue; 
    margin-left: 10%;
}

.botonEnviar
{
    font-family: Agbalumo; 
    margin-left: 25%;
}

.derechosReservados
{
    color: white; 
    padding-left: 10%;
}

.footer
{
    background: #F85E29;
}

.serviciosTitulo
{
    font-family: 'Dela Gothic One';
    background: #F85E29;
    text-align: center;
    display: grid;
    padding: auto;
}


/* Estilos para el mapa*/
.mapa
{
    padding: 3% 5%;
    text-align: center;
}

.certificado
{
    display: grid;
    place-content: center;
    padding-top: 10%;
}

.imagen{
    width: 250px;
    height: 300px;
}

.textoDerechos
{
    display: grid;
    place-content: center;
    padding: 25%;
}

.textoDerechos p{
    text-align: center;
    color: white;
}

.mapa h3{
    font-family: Agbalumo;
    color: white;
}

.formulario
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fondo, .contactos
{
    background: #042642;
    padding-bottom: 3%;
}

/* Estlos del formulario */
.styled-form {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Espacios entre mensajes e inputs*/
  .form-group {
    margin-bottom: 5%;
  }

  .styled-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .styled-button:hover {
    background-color: #0056b3;
  }

  .fondo h1{
    font-family: 'Dela Gothic One';
    text-align: center;
    padding: 2%;
    color: white;
  }