/*Estilos para las redes sociales*/
.socialMedia{
    text-decoration: none;
    color: azure;
    font-size: 16px;
}
/*Estilos para el footer*/
.footer
{
    background: #042642;
}



/*Estilos para el titulo debajo del nav*/
.titulo
{
    background:  #F85E29;
    display: grid;
    place-content: center;
    padding: 0.1%;
}

/*Estilos para el tamaño del mapa*/
.mapa
{
    padding: 3% 5%;
    text-align: center;
}

/*Estilos para el formulario*/
.formulario
{
    background: lightyellow;
    padding: 20px;
    border-radius: 20px / 30px;
}

.form
{
    padding-top: 3%;
}

.mensaje
{
    size: 20px;
}

.certificado
{
    display: grid;
    place-content: center;
    padding-top: 10%;
}

.imagen{
    width: 250px;
    height: 300px;
}

.textoDerechos
{
    display: grid;
    place-content: center;
    padding: 25%;
}

.textoDerechos p{
    text-align: center;
    color: white;
}

.mapa h3{
    font-family: Agbalumo;
    color: white;
}