/* Estilos para el nav*/
.socialMedia{
    text-decoration: none;
    color: azure;
}

body{
    margin: 0;
}

/* Estilos para el footer*/
.footer
{
    padding: 2%;
    background: #F85E29;
}

/* Estilos para el titulo del servicio*/
.serviciosTitulo
{
    font-family: 'Dela Gothic One';
}

.tituloServicios
{
    background: #F85E29;
    display: grid;
    place-content: center;
    padding: 0.1%;
}

/* Estilos para la informacion */
.informacion
{
    background: #042642;
    padding: 8%;
}

.informacionGeneral
{
    margin-left: 2%;
}

.tituloS
{
    color: white;
    font-size: 3em;
}

.parrafoS
{
    color: white;
    font-size: 2em;
}

.valorS
{
    color: white;
    font-size: 2em;
}


/* Estilos para el mapa*/
.mapa
{
    padding: 3% 5%;
    text-align: center;
}

.certificado
{
    display: grid;
    place-content: center;
    padding-top: 10%;
}

.imagen{
    width: 250px;
    height: 300px;
}

.textoDerechos
{
    display: grid;
    place-content: center;
    padding: 25%;
}

.textoDerechos p{
    text-align: center;
    color: white;
}

.mapa h3{
    font-family: Agbalumo;
    color: white;
}