/*Estilos para las redes sociales*/
.socialMedia{
    text-decoration: none;
    color: azure;
    font-size: 16px;
}
/*Estilos para el footer*/
.footer
{
    background: #042642;
}

/*Estilos para el titulo debajo del nav*/
.titulo
{
    background:  #F85E29;
    display: grid;
    place-content: center;
    padding: 10px;
}

/*Estilos para el tamaño del mapa*/
.mapa
{
    padding: 3% 5%;
    text-align: center;
}

/*Estilos para el formulario*/
.formulario
{
    background: lightyellow;
    padding: 20px;
    border-radius: 20px / 30px;
}

.form
{
    padding-top: 3%;
}

.mensaje
{
    size: 20px;
}